# node modules
node_modules

# MacOS desktop services store
.DS_Store

# Log files
*.log

# Meta files
TODOs.md

# Editors
.idea

# VuePress temp directory
.temp

# Docs dist directory
/vuepress

# Typescript build dist
packages/@vuepress/shared-utils/lib/
packages/@vuepress/shared-utils/types/


/coverage
/src/client/shared.ts
/src/node/shared.ts
*.log
*.tgz
.DS_Store
.idea
.temp
.vite_opt_cache
.vscode
dist
cache
temp
examples-temp
node_modules
pnpm-global
TODOs.md